*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width:100%;
    height: 300px;
    background-image: url(image..jpg);
    padding: 0 10px;
}
#logo{
    
    float: left;
    margin-left: 10px;
    color: white;
}
h1{
    margin-top: 10px;
}
span{
    color:rgb(51, 191, 88)
}

 ul{
    display: inline-block;
    list-style: none;
    color: white;
    float: right;
}
 ul li{
    display: inline-block;
    margin-top: 20px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 10%;
}
ul li a:hover{
    background-color: rgb(51, 191, 88);
    color: black;
}
.body{
    width: 100%;
    height: 400px;
    background-color: rgb(247, 249, 247);
    padding: 0 10px;
}
.body h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: rgb(19, 19, 19);
}